Guardian Quiz.xcodeproj/project.xcworkspace/xcuserdata/simon.xcuserdatad
Guardian Quiz.xcodeproj/xcuserdata/simon.xcuserdatad/xcdebugger
.DS_Store
*.p8
Guardian Quiz.ipa
Guardian Quiz.app.dSYM.zip
fastlane/report.xml
